<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand text-dark" href="#">CyberSoft</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="modal" data-target="#myModal" href="#myModal">Login</a>
        </li>
    </ul>
</nav>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
</button>

<!-- The Modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
